.page {
  display:flex;
  justify-content: center;
}

.card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width:500px;
  height: 200px
}

.cardContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.spinner {
  display: flex;
  justify-content: center;
}
